<a href="https://colab.research.google.com/github/RemiJolian/Git-Github/blob/main/Quera_Python_Advance_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quera_Python_Advance_Course

First,Review:

In [ ]:
n = float(input())
print(int(n))
print(type(n))

In [ ]:
t = int(input())

if t >100:
    print('Steam')
elif t < 0:
    print('Ice')
else:
    print('Water')

In [ ]:
s = [['s', 'd', 'f', 'g'], ['e', 'd']]
for word in s:
    for ch in word:
        print(ch,end=' ')

s d f g e d

In [ ]:
words = ['salam', 'khoobi?', 'na']

for i in range(len(words)):
    print(words[i])

for i in range(0, len(words), 2):
    print(" *** " + words[i])

salam
khoobi?
na
 *** salam
 *** na

Jadval Zarb:

In [ ]:
n = int(input())

for i in range(1,n+1):
    for j in range(1,n+1):
        print(i*j,end=' ')
    print()

7
1 2 3 4 5 6 7
2 4 6 8 10 12 14
3 6 9 12 15 18 21
4 8 12 16 20 24 28
5 10 15 20 25 30 35
6 12 18 24 30 36 42
7 14 21 28 35 42 49

kochektarin mazrab:

In [ ]:
p, d = map(int,input().split())

i = 1
while (i*d) % p > (p/2):
    i = i + 1
print(i*d)

combination, or tarjib in math, tabe' entekhabi:

In [ ]:
def comb(n, k):
    import math
    if n >= k:
        t = math.factorial(n-k)
        n = math.factorial(n)
        k = math.factorial(k)
        return int(n/(t * k))
    else:
        return 0
comb(10,2)

0

OR:

In [ ]:
def comb(n, k):
    ans = 1
    for i in range(n-k+1, n+1):
        ans *= i
    for i in range(1, k+1):
        ans /= i
    return ans

In [ ]:
from math import factorial as f
def comb(n, k):
    if k>n:
        return 0
    else:
        return (f(n)/(f(k)*f(n-k)))
    pass

and OR:

In [ ]:
def comb(n, k):
    if k == 0 :
        return 1
    elif k == 1 :
        return n
    elif k == n :
        return 1
    elif k > n :
        return 0
    else :
        return fac(n) / (fac(k) * fac(n - k))

def fac(n) :
    if n == 0 or n == 1 :
        return 1
    temp = 1
    for i in range(2, n + 1) :
        temp *= i
    return temp

In [ ]:
import math


def comb(n, k):
    if n - k < 0:
        return 0
    return math.factorial(n) // (math.factorial(k) * math.factorial(n - k))

Use math Library:

In [ ]:
import math
print(math.gcd(4,24)) #greatest common factor number that divides them
print(math.fabs(-3))
print(math.factorial(4))
print(math.pow(2,4))  # 2 ^^4
print(math.log(8))
print(math.log(8,2)) # = 3, 2 ^^ 3 = 8
print(math.sqrt(25))  #jazr
print(math.sin(3))   # sinos
print(math.radians(8)) # degree to radian
print(math.floor(3.2))
print('--------')
print(math.pi)  # 3.14159...

4
3.0
24
16.0
2.0794415416798357
3.0
5.0
0.1411200080598672
0.13962634015954636
3
--------
3.141592653589793

Mohasebat sakht:

In [ ]:
import math
def f(x):

    m = math.pow(x,5/3) + math.tan(math.radians(x))
    m = math.floor(m)
    n = math.pow(math.pi,(2 + math.atan((math.sin(math.radians(x)) ** 2))))
    n = math.floor(n)
    return math.gcd(m,n)
f(5)

1

# Date and time Library:

In [ ]:
from datetime import time       # time and date are read only.
t = time(17,21,22)
print(t)

from datetime import date
d = date(2023,5,27)
print(d)

17:21:22
2023-05-27

In [ ]:
from datetime import datetime
dt = datetime(2022,5,14,14,29,30)
print(dt)

2022-05-14 14:29:30

In [ ]:
datetime.now()

datetime.datetime(2023, 6, 2, 5, 20, 56, 735078)

How to convert string to date:

In [ ]:
from datetime import datetime
date = datetime.strptime('2005-01-06', '%Y-%m-%d')
print("day:", date.day)
print("month:", date.month)
print("year:", date.year)

day: 6
month: 1
year: 2005

# Chan rozeshe?Sajad:

this solution is wrong, notice:   # why? becuase we do not use datetime library in line ...:

In [ ]:
def day_calculator(date_inter):

 from datetime import datetime
 date_inter = datetime.strptime('2005-01-06', '%Y-%m-%d')
 sajad_b = datetime.strptime('1999-01-14', 'Y-%m-%d')
 y = (date_inter.year - sajad_b.year) * 365
 m = (date_inter.mounth - sajad_b.mounth) * 30
 d = (date_inter.day - sajad_b)
 if y < 0 or (y == 0 and m < 0):
    return 'Not yet born'
 else:
    ans = y + m + d
    return ans

This is ok:

In [ ]:
def calculate_date(date_inter):
  from datetime import datetime
  date_inter = datetime.strptime('2018-10-12', '%Y-%m-%d')
  sajad_b = datetime.strptime('1999-01-14', '%Y-%m-%d')
  div = (date_inter - sajad_b).days
  if div < 0:
    return "Not born yet"
  else:
    return div

calculate_date('1999-08-07')

In [ ]:
from datetime import datetime
  date_inter = datetime.strptime('2018-10-12', '%Y-%m-%d')

notice this point:

In [ ]:
from datetime import datetime
date = datetime.strptime('2005-01-06', '%Y-%m-%d')
print("day:", date.day)
print("month:", date.month)
print("year:", date.year)
print(date)

# Strings:

In [ ]:
s = "Hello "
t = '!'
name = input()
print(s + name + t)

dak
Hello dak!

In [ ]:
>>> s = 'spartacus'
>>> s.removeprefix('s')
'partacus'
>>> s.removeprefix('spar')
'tacus'
>>> s.removeprefix('part')
'spartacus'
>>> s.removesuffix('s')
'spartacu'
>>> s.removesuffix('acus')
'spart'
>>> s.removesuffix('tacu')
'spartacus'

'spartacus'

# Names, Karim:

In [ ]:
n = int(input())
names = []
max = 0
for i in range(n):
    name = input()
    names.append(name)
for i in names:
  c = 0
  s = []
  for j in range(len(i)):
     if i[j] not in s:
        s.append(i[j])
        c += 1
  s = []
  if max <= c:
    max = c

print(max)

In [ ]:
n = int(input())
ans = 0
for i in range(n):
	name = input()
	dif = ""
	for j in name:
		if j not in dif:
			dif = dif + j
	ans = max(ans, len(dif))
print(ans)

and OR

In [ ]:
n=int(input())
l=[]
for i in range(n):
    l.append(len(set(input())))

print(int(max(l)))

# Password(ramz of gawsandogh):

In [ ]:
k = int(input())
password = input()
selector = []
ans = 0
for i in range(len(password)):
  selector.append(input())
for i in range(k):
  for j in range(9):
    if password[i] == selector[i][j]:
      break
  if j > 9//2:
    ans += 9 - j
  else:
    ans += j
print(ans)

# OR these answer:

In [ ]:
k = int(input())
password = input()
ans = 0
for i in password:
	selector = input()
	moves = selector.find(i)
	ans = ans + min(moves, 9 - moves)
print(ans)

In [ ]:
def kooch(a, b,):
    l=[]
    b =str(b)+ '.'
    h = str(b).split(str(a))
    for x in h:
        l.append(len(x))

    return min(l)

k = int(input())
r = input()
d = list(r)
o=0
w=0
while o<k:
    w += kooch(d[o],b = input())
    o+=1
print(w)

In [ ]:
def jash(adad, reshte):
    ja = reshte.index(adad)
    if ja>4:
        return (9 - ja)
    else:
        return ja
k = int(input())
rkr = input()
ans = 0
for i in range(k):
    charkh = input()
    ans += jash(rkr[i], charkh)
print(ans)

In [ ]:
k = int(input())
code = input()
count = 0
for i in range(k):
    order = input()
    index = order.find(code[i])

    if(index <= 4):
        count += index
    else:
        count += ((8 - index) + 1)
print(count)

% d

# string

In [ ]:
age = 12
height = 178.5
isMale = True
print(f'Age : {age}, Height : {height}, Gender : {isMale}')

Age : 12, Height : 178.5, Gender : True

In [ ]:
variable = 5
f"{variable=}"

In [ ]:
greeting = "Hello %s!"
name = input("Please enter your name:\n")
print(greeting % name)

In [ ]:
greeting = "Hello %s with %d years old!"
name = input("Please enter your name:\n")
age = int(input("Please enter your age:\n"))
print(greeting % (name, age))

# format

In [ ]:
greeting = "Hello {} with {} years old!"
name = input("Please enter your name:\n")
age = int(input("Please enter your age:\n"))
print(greeting.format(name, age))

In [ ]:
"{:+} {:+} {:+}".format(241.1, -124.21, 0)
#'+241.1 -124.21 +0'  add + sign to positive numbers
"{:.3f} {:.3f}".format(122, 33.22191)
#'122.000 33.222'
"{:b} {:b}".format(-34, 21)
#'-100010 10101'  binary
"{:x} {:x}".format(241, 124)
#'f1 7c' mabnaye 16
"{:o} {:o}".format(241, 124)
#'361 174' mabnaye 8
"{:0=8} {:1=8} {:2=2}".format(12, 21.12, 312)
#'00000012 11121.12 312' yتا زمانی که طول رشته از
x کمتر باشد، به ابتدای آن کاراکتر
اضافه میکند

In [ ]:
"Hello {0} with {1} years old!".format("Ali", "23")
#'Hello Ali with 23 years old!'
"Hello {name} with {age} years old!".format(name = "Ali", age = "23")
#'Hello Ali with 23 years old!'
"Hello {0} with {age} years old!".format("Ali", age = "23")
#'Hello Ali with 23 years old!'

In [ ]:
"{0:.3f} {0:+}".format(23.12)
#'23.120 +23.12'
"{num:.3f} {num:+}".format(num=23.12)
#'23.120 +23.12'

'23.120 +23.12'

Shomordan sakht:

In [ ]:
print('{:b}'.format(int(input())).count('1'))

220
5

In [ ]:
# and this solution
print(bin(int(input())).count('1'))

In [ ]:
n = int(input())
m = '{:b}'.format(n)
c = 0
for i in m:
    if i == '1':
        c += 1
print(c)

In [ ]:
mobile_number = input()
if len(mobile_number) == 11 and mobile_number.startswith('09') and mobile_number.isdigit():
    print('✅Valid mobile number')
else:
    print('❌Invalid mobile number')

# **RegEX in python:**

findall()

In [ ]:
import re
a = 'Python is a object oriented lang.Python is a nice lan!'
re.findall('th', a)

['th', 'th']

In [ ]:
x = re.search("e[a-z]", "regex college")
print(type(x))
print(x)
#<class '_sre.SRE_Match'>
print(x.string)
#'regex college'
print(x.span())
print(x.group())

<class 're.Match'>
<re.Match object; span=(1, 3), match='eg'>
regex college
(1, 3)
eg

split() func:

In [ ]:
import re
s = 'Hi Baran! how are you today?'
re.split('a',s)

['Hi B', 'r', 'n! how ', 're you tod', 'y?']

In [ ]:
print(re.split('a', 'salam'))
print(re.split('[0-9]+', 'you92398can820split729with26numbers'))
print(re.split('[a-z]+', '2093ab20a120dk'))

['s', 'l', 'm']
['you', 'can', 'split', 'with', 'numbers']
['2093', '20', '120', '']

sub() func:

In [ ]:
print(re.sub('l', 'salam', 'hello'))

print(re.sub('[0-9]', '_digit_', '12ab1'))

print(re.sub('[0-9]+', '_num_', '12ab1129h'))

hesalamsalamo
_digit__digit_ab_digit_
_num_ab_num_h

## Besanj: check of validation of email address and phone number

In [ ]:
import re


def validate_email(email):
    return bool(re.match(r"^[a-zA-Z0-9\.\_]+@[a-zA-Z0-9]+\.[a-zA-Z]{3}$", email))


def validate_phone(number):
    return bool(re.match(r"^(0|\+98|0098)9[0-9]{9}$", number))

or this my solution:
email Validate

In [ ]:
import re

def validate_email(email: str) -> bool:
    if re.match(r'^[a-zA-Z1-9\.\_]+@[a-zA-Z1-9]+\.[a-zA-Z]{3}$',email):
        return True
    else:
        return False
email = 'rbagheri85@gmail.com'
validate_email(email)

True

phone validate

In [ ]:
import re

def validate_phone(number: str) -> bool:
  if re.match(r'^09[0-9]{9}$', number):
    return True
  elif re.match(r'^00989[0-9]{9}$', number):
    return True
  elif re.match(r'^\+989[0-9]{9}$', number):
    return True
  else:
    return False
number = '+989126982466'
validate_phone(number)

True

merge 2 function:

In [ ]:
import re

def validate_email(email: str) -> bool:
    if re.match(r'^[a-zA-Z1-9\.\_]+@[a-zA-Z1-9]+\.[a-zA-Z]{3}$',email):
        return True
    else:
        return False
email = 'rbagheri85@gmail.com'
validate_email(email)

def validate_phone(number: str) -> bool:
  if re.match(r'^09[0-9]{9}$', number):
    return True
  elif re.match(r'^00989[0-9]{9}$', number):
    return True
  elif re.match(r'^\+989[0-9]{9}$', number):
    return True
  else:
    return False
number = '09126982466'
validate_phone(number)

or this solution!!!:

In [ ]:
import re


def validate_email(email: str) -> bool:
    username_domain = re.split('@',email)
    if(len(username_domain) != 2):
        return False
    else:
        username,domain = username_domain[0], username_domain[1]
    domain_tld = domain.split(".")
    if(len(domain_tld) != 2):
        return False
    else:
        domain, tld = domain_tld[0], domain_tld[1]
    is_ok = (len(re.findall("[^a-z,^A-Z,^0-9,^\.,^_]", username)) == 0)
    if(is_ok):
        is_ok = (len(re.findall("[^a-z,^A-Z,^0-9]", domain)) == 0)
        if(is_ok):
            is_ok = (len(re.findall("[^a-z,^A-Z]", tld)) == 0) and len(tld) == 3
            return is_ok
        else:
            return False
    else:
        return False
    pass


def validate_phone(number: str) -> bool:
    is_ok = re.search("^09",number) != None
    is_ok2 = (len(re.findall("[^0-9]", number)) == 0)
    is_ok3 = len(number) == 11
    if(is_ok and is_ok2 and is_ok3):
        return True
    is_ok = re.search("^\+989",number) != None
    is_ok2 = (len(re.findall("[^0-9,^\+]", number)) == 0)
    is_ok3 = len(number) == 13
    if(is_ok and is_ok2 and is_ok3):
        return True
    is_ok = re.search("^00989",number) != None
    is_ok2 = (len(re.findall("[^0-9]", number)) == 0)
    is_ok3 = len(number) == 14
    if(is_ok and is_ok2 and is_ok3):
        return True
    else:
        return False
    pass

print(validate_email("invalid@invalid"))

In [ ]:
import re


def validate_email(email: str) -> bool:
    if re.match("^[a-zA-Z0-9._]+@[a-zA-Z0-9]+\.[a-zA-Z]{3}$", email):
        return True
    else:
        return False


def validate_phone(number: str) -> bool:
    if re.match("^(09|\+989|0{2}989)\d{9}$", number):
        return True
    else:
        return False

In [ ]:
import re


def validate_email(email: str) -> bool:
    pattern = r'^[a-zA-Z0-9_.]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$'
    return (re.match(pattern, email))

def validate_phone(number: str) -> bool:
    pattern = r'^(09|(\+989)|(00989))\d{9}$'
    return bool(re.match(pattern, number))

In [ ]:
myList = ["amir", "ali", "amir", "ali"]
myList.index('ali')
myList.index('ali', 2, 4)

3

In [ ]:
myList.index('ali', 0,1)

1

In [ ]:
>>> myList = ["amir", "ali", "amir", "ali"]
>>> myList.count('ali')
2
>>> myList.count('mohamadreza')
0

In [ ]:
>>> companies = ['apple', 'samsung', 'xiaomi', 'sony', 'nokia']
>>> companies
['apple', 'samsung', 'xiaomi', 'sony', 'nokia']
>>> companies.sort()
>>> companies
['apple', 'nokia', 'samsung', 'sony', 'xiaomi']
>>> def getLength(a):
...     return len(a)
...
>>> companies.sort(key=getLength)
>>> companies
['sony', 'apple', 'nokia', 'xiaomi', 'samsung']

In [ ]:
>>> numbers = [1, 2, 3, 4, 5]
>>> numbers.reverse()
>>> numbers
[5, 4, 3, 2, 1]

In [ ]:
>>> names = ['ali', 'mohamadreza', 'mahdi']
>>> ' '.join(names)
'ali mohamadreza mahdi'
>>> '/'.join(['home', 'lib', 'python.py'])
'home/lib/python.py'

In [ ]:
>>> numbers = [1, 2, 3, 4, 5]
>>> numbers.copy()
[1, 2, 3, 4, 5]
>>> numbers[:]
[1, 2, 3, 4, 5]

Queiz: Print Reverse when enter 0:

In [ ]:
s = []
n = int(input())
while n != 0:
    s.append(n)
    n = int(input())
s.reverse()
#print(*s)
for i in s:
    print (i)

In [ ]:
mylist = []
while True :
    n = int(input())
    if n == 0 :
        break
    mylist.append(n)
mylist.reverse()
for i in mylist :
    print(i)

In [ ]:
>>> queue = ["ali", "mohammad"]
>>> queue.append("reza") # similar to push
>>> queue.append("amir")
>>> queue
['ali', 'mohammad', 'reza', 'amir']
>>> queue[0] # similar to top
'ali'
>>> queue.pop(0)
'ali'
>>> queue
['mohammad', 'reza', 'amir']

# enumerate() function:

In [ ]:
x = ['apple', 'banana', 'cherry']
y = enumerate(x)

print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [ ]:
names = ['mohammad', 'reza', 'amir']
for i, j in enumerate(names):
    print(i,j)

0 mohammad
1 reza
2 amir

In [ ]:
>>> myList = [0, 1, 2, 3]
>>> for i, it in enumerate(myList):
...     print("the {0}th object in myList is {1}!".format(i+1, it))
...
the 1th object in myList is 0!
the 2th object in myList is 1!
the 3th object in myList is 2!
the 4th object in myList is 3!

In [ ]:
names = ['mohammad', 'reza', 'amir']
for i, it in enumerate(names):
     print("the {0}th object in myList is {1} .".format(i+1, it))

# zip() function:

In [ ]:
listA = [1, 2, 3, 4]
listB = ['a', 'b', 'c', 'd']
listC = ['I', 'II', 'III', 'IV']
for a, b, c in zip(listA,listB,listC):
  print(a,b,c)

1 a I
2 b II
3 c III
4 d IV

In [ ]:
>>> listA = [1, 2, 3, 4]
>>> listB = ['a', 'b', 'c', 'd']
>>> listC = ['I', 'II', 'III', 'IV']
>>> for a, b, c in zip(listA, listB, listC):
...     print("{0}th alphabet or {1} in greece is {2}".format(a, c, b))
...
1th alphabet or I in greece is a
2th alphabet or II in greece is b
3th alphabet or III in greece is c
4th alphabet or IV in greece is d

# sort() and sorted() func

In [ ]:
ls = [2, 4, 3, 1]
ls.sort()
ls

[1, 2, 3, 4]

In [ ]:
ls = [2, 4, 3, 1]
f = sorted(ls)
f

[1, 2, 3, 4]

# reversed() function:

In [ ]:
ls = ['a', 'bcd', 'salam', 'hello']


for i in reversed(ls):
   print(i, end=' ')

hello salam bcd a

In [ ]:
ls = ['a', 'bcd', 'salam', 'hello']
reversed(ls)

# filter() function:

In [ ]:
def f(x):
  return True if x%2 == 0 else False

lst1 = [1, 2, 4, 3, 6, 4]
#filter(f, ls)
#<filter object at 0x00B77E50>
for x in filter(f, lst1):
     print(x, end=' ')
print()
print('ls: ',lst1)

2 4 6 4
ls:  [1, 2, 4, 3, 6, 4]

# map() function:

In [ ]:
>>> def f(x):
...    return int(x)
...
>>> ls = [2, '4', False, 3.14]
>>> map(f, ls)
<map object at 0x00B77F90>
>>> for x in map(f, ls):
...     print(x, end=' ')
...
2 4 0 3
>>> for x in map(int, ls):
...     print(x, end=' ')
...
2 4 0 3
2 4 6 4

In [ ]:
def f(x):
    return int(x)
ls = [2, '4', False, 3.14]

for x in map(f, ls):
     print(x, end=' ')
print()
print('ls: ',ls)

2 4 0 3
ls:  [2, '4', False, 3.14]

In [ ]:
ls = [2, '4', False, 3.14]
for i in map(int,ls):
  print(i,end= ' ')

2 4 0 3

In [ ]:
>>> number = map(int, input().split())
1 2 3 4 5
>>> sum(number)
15

sum() function:
# New Section

In [ ]:
>>> ls = [1, 2, 3, 4]
>>> sum(ls)
10
>>> ls = ['a', 'b', 'c', 'd']
>>> sum(ls)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unsupported operand type(s) for +: 'int' and 'str'

Betayp!!(type kon!)

In [ ]:
inp = input()
outp = []
for i in inp:
	if i == '=':
		if len(outp) != 0:
			outp.pop()
	else:
		outp.append(i)
print(outp)
ans = ""
for i in outp:
	ans += i
print(ans)

====testtwoo===wo
['t', 'e', 's', 't', 't', 'w', 'o']
testtwo

In [ ]:
word = input()

while True:
    equal = word.find('=')
    if equal == -1:
        break
    temp = list(map(str,word))
    if equal != 0:
        temp.pop(equal)
        temp.pop(equal-1)
    else:
        temp.pop(equal)
    word = "".join(temp)

print(word)

In [ ]:
string = input().strip('=')

removed = []
for i in range(len(string)):
    if string[i] == '=':
        if i != 0 and len(removed) != 0:
           removed.pop()
    else:
       removed.append(string[i])

s = ""
for ch in removed:
    s += ch

print(s)

In [ ]:
l = input()
stack = []
for elem in l:
    if elem != '=':
        stack.append(elem)
    elif(len(stack) != 0):
        stack.pop()
for elem in stack:
    print(elem, end = "")

In [ ]:
import re

sentence = input()
stack = []
ans = ''
for i in range (len(sentence)):
    stack.append(sentence[i])
    if len(stack)==1 and sentence[i]== '=':
        stack.pop()
    if len(stack)>1 and sentence[i]== '=':
        stack.pop()
        stack.pop()

for item in stack :
    ans += item
print(ans)

Bomb **Bazi**

In [ ]:
n, m = map(int,input().split())
k = int(input())
matr = []
for x in range(n):
   matr.append([])
   for y in range(m):
     matr[x].append(0)


for o in range(k):
    a, b = map(int,input().split()) # 1 1
    a = a -1
    b = b -1
    matr[a][b] = '*'

    for h in range(-1,2):
        for p in range(-1,2):
           if (h != 0 or p != 0)  and ((a+h) in range(0,n) and (b+p) in range(0,m)) and matr[a+h][b+p] != '*':
            matr[a+h][b+p] += 1
for i in range(n):
    for j in range(m):
        print(matr[i][j],end = ' ')
    print()

In [ ]:
n, m = map(int, input().split())
base = [[0] * (m+2) for i in range(n+2)]
k = int(input())
for i in range(k):
	x, y = map(int, input().split())
	base[x][y] = '*'

def check(x ,y):
    pos = [-1, 0, +1]
    if base[x][y] != '*':
        for i in pos:
            for j in pos:
                if i!=0 or j!=0:
                    if base[x+i][y+j] == '*':
                        base[x][y] += 1


for i in range(1,n+1):
	for j in range(1,m+1):
		check(i,j)
for i in range(1,n+1):
	for j in range(1,m+1):
		print(base[i][j], end=' ')
	print('')

In [ ]:
def check_pos(X,Y):
    global n , m
    pos = [ -1 , 0 , 1 ]
    if maps[X][Y] != '*' :
        for j in pos :
            for l in pos :
                if j != 0 or l != 0  :
                    if (X+j>= 0 and X+j <n) and (Y+l >=0 and Y+l <m):
                        if maps[X+j][Y+l] == '*' :
                            maps[X][Y] += 1
    return maps



n, m = map(int, input().split())
k = int(input())
maps = []
for x in range(n):
    maps.append([])
    for y in range(m):
         maps[x].append(0)
for i in range (k) :
    a, b = map(int, input().split())
    (x,y) = ((a-1),(b-1))
    maps[x][y] = '*'
for x in range (n):
    for y in range(m):
        check_pos(x,y)
for item in maps :
    print (*item , end = ' ')
    print()

In [ ]:
def f(x):
    return int(x) - 1

m, n = list(map(int, input().split()))

n_bomb = int(input())

bomb_loc = []
for i in range(n_bomb):
    bomb_loc.append(list(map(f, input().split())))

map_ = []

for i in range(m):
    map_.append([])
    for j in range(n):
        map_[i].append(0)


pos_ = [[-1,-1], [-1,0], [-1,1], [0,-1], [0,1], [1,-1], [1,0], [1,1]]

def vicinity_count(chart, i, j):
    chart[i][j] = '*'
    for [x,y] in pos_:
        # print(i+x,j+y)
        if i+x >= 0 and j+y>=0 and i+x<m and j+y<n:
            if chart[i+x][j+y] != '*':
                chart[i+x][j+y] += 1
    return chart

def calc_chart(map_, bomb_loc):
    for [i,j] in bomb_loc:
        map_ = vicinity_count(map_, i, j)
    return map_

calc_chart(map_, bomb_loc)

for i in range(m):
    for j in range(n):
        if j+1 == n:
            print(map_[i][j])
        else:
            print(map_[i][j], end=' ')

List review:

In [ ]:
lst = [str(x)+y for x in [1,2] for y in ['A','B']]
lst

['1A', '1B', '2A', '2B']

In [ ]:
>[(x, y) for x in [1, 2, 3] for y in [1, 2, 3] if x != y]
[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [ ]:
>>> zeros = [[0 for c in range(m)] for r in range(n)]

In [ ]:
>>> a = ['ali', 'rafte', 'key', 'barmigarde?']
>>> del a[0]
>>> a
['rafte', 'key', 'barmigarde?']
>>> del a[0:2]
>>> a
['barmigarde?']
>>> del a[:]
>>> a
[]

In [ ]:
>>> name = "salam"
>>> name
'salam'
>>> del name
>>> name
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
NameError: name 'name' is not defined

In [ ]:
>>> ls = [0, 1, 2, 3, 4]
>>> print(*ls)
0 1 2 3 4

Asone Sakht:

In [ ]:
print(*sorted(set(list(it for i,it in enumerate(map(int,input().split())) if ((i+1) % 6 == 0 and it % 6 == 0)))))

OR:

In [ ]:
print(*sorted(x for x in list(map(int, input().split()))[5::6] if x % 6 == 0))

# Review of tuple:

In [ ]:
>>> t = ("ali", 123, 2.5)
>>> t[0]
'ali'
>>> t[0:2]
('ali', 123)
>>> for it in t:
...     print(it)
...
ali
123
2.5

In [ ]:
>>> t = "ali", 123, 2.5
>>> t
('ali', 123, 2.5)
>>> type(t)
<class 'tuple'>

In [ ]:
>>> a, b, c = 10, 20, 30
>>> a
10
>>> b
20
>>> c
30
>>> a, b = b, a
>>> a
20
>>> b
10

In [ ]:
>>> t = ()
>>> len(t)
0
>>> type(t)
<class 'tuple'>
>>> t = (1)
>>> type(t)
<class 'int'>
>>> t = 1,
>>> len(t)
1
>>> type(t)
<class 'tuple'>

# One of usful use of tuples, is in functions that return some parameter. here tuples is suitable than lists:see

In [ ]:
>>> myList = [1, 2]
>>> def f():
...     return myList
...
>>> a = f()
>>> a.append("12")
>>> myList
[1, 2, '12']
>>> a[0] = 10
>>> myList
[10, 2, '12']

In [ ]:
>>> myTuple = 1, 2
>>> def f():
...     return myTuple
...
>>> a = f()
>>> a
(1, 2)
>>> a[0] = 10
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment
>>> a = 3, 4
>>> myTuple
(1, 2)

# Review of set,{}:

In [ ]:
nums = {2, 3, 4}
nums.add(9)
nums

{2, 3, 4, 9}

In [ ]:
>>> type(set())
<class 'set'>
>>> st = {2, 3, 1}
>>> st
{1, 2, 3}
>>> len(st)
3
>>> type(st)
<class 'set'>
>>> st = {}
>>> type(st)
<class 'dict'>

In [ ]:
>>> names = set()
>>> names.add('ali')
>>> names.add('mohamadreza')
>>> names.add('amir')
>>> names.add('amir')
>>> names
{'amir', 'mohamadreza', 'ali'}

In [ ]:
>>> nums = set()
>>> nums.add(1)
>>> nums.add(2)
>>> nums.add(3)
>>> 1 in nums
True
>>> 4 in nums
False

In [ ]:
>>> a = {1, 2, 3}
>>> a.remove(1)
>>> a.discard(2)
>>> a
{3}
>>> a.discard(4)
>>> a.remove(4)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 4

In [ ]:
>>> a = {1, 2, 3}
>>> b = {3, 2, 4}
>>> a.intersection(b)
{2, 3}
>>> b.intersection(a)
{2, 3}
>>> a & b
{2, 3}
>>> b.union(a)
{1, 2, 3, 4}
>>> a | b
{1, 2, 3, 4}

{1, 2, 3, 4}

# Karmandan Ziadi:

My solution:

In [ ]:
d = {}
n = int(input())
for i in range(n):
    first_n, last_n = map(str,input().split())
    x = d.get(first_n,-1)
    if x == -1:
        d[first_n] = 1
    else:
        d[first_n] += 1
print(d)
print(max(d.values()))

and see other solution:

In [ ]:
names = dict()
cnt = int(input())
for i in range(cnt):
    name, family = input().split()
    names[name] = names.get(name, 0) + 1     # nice!
print(max(names.values()))

In [ ]:
n=int(input())
s=1
ls=[]
fname=[]
while s<=n:
    nam=input().split(' ')
    x=[nam[0],nam[1]]
    ls.append(x)
    fname.append(nam[0])
    s+=1
dups={i:fname.count(i) for i in fname}

print(max(dups.values()))

In [ ]:
n = int(input())
names = {}
for i in range(n):
    name, surname = input().split()
    if name in names.keys():
        names[name] += 1
    else:
        names[name] = 1
number_of_colors = max(names.values())
print(number_of_colors)

In [ ]:
my_list=[]
my_list_2=[]
number=int(input())
for i in range(number):
    name=str(input())
    x=name.split()
    my_list.append(*x[::2])
for i in (my_list):
    z=my_list.count(i)
    my_list_2.append(z)
print(max(my_list_2))

# Review of Functions:

In [ ]:
>>> def f(a=0, b=1):
...     return a+b
...
>>> f(2, 3)
5
>>> f(2)
3
>>> f()
1

In [ ]:
>>> def f(a=0, b):
...     return a+b   ## have error, b = ?

In [ ]:
>>> def f(a, L=[]):
...     L.append(a)
...     return L
...
>>> f(1)
[1]
>>> f(2)
[1, 2]
>>> f(3)
[1, 2, 3]

In [ ]:
>>> def f(a, L=None):
...     if L == None:
...             L = []
...     L.append(a)
...     return L
...
>>> f(1)
[1]
>>> f(2)
[2]
>>> f(2,f(1))
[1, 2]

In [ ]:
>>> def f(a, *args):    #extra argumans,, *x, any name
...     return args
...
>>> f(2)
()
>>> f(2, 1)
(1,)
>>> f(1, 2, 3)
(2, 3)

In [ ]:
>>> def f(*args, **kwargs):
...     print(args)
...     print(kwargs)
...
>>> f(a=2)
()
{'a': 2}
>>> f(1, a=2)
(1,)
{'a': 2}
>>> f(1, a=2, 2)
  File "<stdin>", line 1
SyntaxError: positional argument follows keyword argument

In [ ]:
>>> def printUsers(**users):
...     for name,age in users.items():
...         print(f"{name} is {age} years old")
...
>>> printUsers(ali=21, mamadreza=18, mahdi=22)
'ali is 21 years old'
'mamadreza is 18 years old'
'mahdi is 22 years old'

When input of function is a list:

In [ ]:
>>> def mean(*numbers):
...     return sum(numbers)/len(numbers)
...
>>> data = [1, 2, 3, 4, 5]
>>> mean(*data)
3.0

when dict is an input of function:

In [ ]:
>>> def people(**people):
...     for name, job in people.items():
...         print(f'{name} is a {job}')
...
>>> data = {'mohamad': 'teacher', 'samad': 'worker'}
>>> people(**data)
'mohamad is a teacher'
'samad is a worker'

# Lambda:

In [ ]:
>>> (lambda x: x * x)(2)
4
>>> power_two = lambda x: x * x
>>> power_two(2)
4
>>> average = lambda a, b: (a + b) / 2
>>> average(20, 18)
19.0
>>> statistic = lambda a, b: [(a + b) / 2, max(a, b)]
>>> statistic(20, 18)
[19.0, 20]

In [ ]:
>>> mylist = [(1,3),(4,5),(2,10),(9,6)]

>>> mylist.sort()
>>> mylist
[(1, 3), (2, 10), (4, 5), (9, 6)]

>>> mylist.sort(key = lambda x: x[-1])
>>> mylist
[(1, 3), (4, 5), (9, 6), (2, 10)]

In [ ]:
>>> def myfunc(n):
          return lambda a : a * n

>>> mydoubler = myfunc(2)
>>> mytripler = myfunc(3)
>>>
>>> mydoubler(11)
22
>>> mytripler(11)
33

sabte nam

In [ ]:
def check_registration_rules(**users):
    ans = []
    for user, password in users.items():
        if len(password) >= 6 and len(user) >= 4 and password.isdigit() is not True and \
        user != "quera" and user != 'codecup':
          ans.append(user)
    return ans
check_registration_rules(sara='qwei8a',kados='129872s',als='2w3edfre',quera='qweijs',asdfghj='1234567',asd='jhyg67h')

['sara', 'kados']

OR these solution:

In [ ]:
def check_registration_rules(**kwargs):
    yes = []
    invalids = ['quera', 'codecup']
    for item in kwargs:
        if not item in invalids and len(item) > 3 and len(kwargs[item]) > 5 and not kwargs[item].isdigit():
            yes.append(item)
    return yes

# print(check_registration_rules(Aaaaa='wqwasasq', aaa='kjhx14567', username='password', sadegh='He3@lsa', quera='kLS45@l$'))

In [ ]:
def check_registration_rules(**kwargs):
    s=[]
    for user,pas in kwargs.items():
        if len(pas)>=6:
            if len(user)>=4:
                print(user)
                if user!='quera' and user!="codecup":
                    if not pas.isdigit():
                        s.append(user)
    return(s)

In [ ]:
def check_registration_rules(**kwargs):
    valid_users = []
    for name, password in kwargs.items():
        if len(password) >= 6 and len(name) >= 4 \
           and name not in ("quera", "codecup") \
           and not password.isnumeric():
            valid_users.append(name)
    return valid_users

In [ ]:
def check_registration_rules(**kwargs):
    o = []
    h=['quera', 'codecup']
    for x in kwargs:
        if not x in h and len(x) > 3 and len(kwargs[x])> 5 and not kwargs[x].isdigit():
            o.append(x)
    return o

# Mohasebat chan taey:some solution

In [ ]:
a = []
def calc(a:list) -> tuple:
   a = sorted(a)
   max_a = max(a)
   ave_a = (sum(a)/len(a))
   if len(a) % 2 != 0:
       med_a = a[int((len(a) + 1)/2 -1)]
   else:
       med_a = (a[int(len(a)/2 -1)] + (a[int(len(a)/2)]))/2
   ans = (ave_a, med_a, max_a)
   return ans
calc([2, 20, 30, 29])

(20.25, 24.5, 30)

In [ ]:
def calc(a):
    avg = sum(a) / len(a)
    maxi = max(a)
    median = ''
    if len(a) % 2 == 0:
        index = len(a)//2
        median = sum(sorted(a)[index-1:index+1])/2
    else:
        median = sorted(a)[int(len(a)/2)]
    return (avg, median, maxi)

In [ ]:
def calc(a: list) -> tuple:
    a = sorted(a)
    average = sum(a) / len(a)
    if len(a) % 2 == 0:
        median = (a[len(a) // 2] + a[(len(a) // 2) - 1]) / 2
    else:
        median = a[(len(a) // 2)]
    maxi = max(a)
    return average, median, maxi

In [ ]:
import keyword
iskeyword('if')

# Lambda

In [ ]:
>>> (lambda x: x * x)(2)
4
>>> power_two = lambda x: x * x
>>> power_two(2)
4
>>> average = lambda a, b: (a + b) / 2
>>> average(20, 18)
19.0
>>> statistic = lambda a, b: [(a + b) / 2, max(a, b)]
>>> statistic(20, 18)
[19.0, 20]

In [ ]:
>>> def myfunc(n):
          return lambda a : a * n

>>> mydoubler = myfunc(2)
>>> mytripler = myfunc(3)
>>>
>>> mydoubler(11)
22
>>> mytripler(11)
33

# Generators:

first see use of list

In [ ]:
def get_list(n):
    ans = list()
    for i in range(n):
        ans.append(i)
    return ans
a = get_list(5 * 100)

import sys
print(sys.getsizeof(a))

In [ ]:
def generator_list(n):
    for i in range (n):
        yield i
g = generator_list(100 * 1000)
import sys
print(sys.getsizeof(g)) # low memory it use

# Read and Write Files in Python:

In [ ]:
with open ('ramin_text.txt', 'w')as t:

    t.write('this is test text.\n')
    t.write('Hi guys.')

In [ ]:
s = 'abcfg'
i = 0
while True:
   if s[i] == 'd' or i == len(s):
       break
   print(s[i] , end= ' ')
   i += 1

# yaftane code_line that != #comment or " "space

In [ ]:
def solve(file_name):
	with open(file_name, "r") as f:
		ans = 0
		for line in f.readlines():
		    line = line.strip()
		    if line == '' or line[0] == '#':
		        continue
		    ans +=1
		return ans

OR other solution:

In [ ]:
def solve(path):
    import re
    with open(path, "r") as f:
        list = []
        while True:
            x = f.readline()
            if not x:
                break
            y = x.strip()
            list.append(y)
        cnt = 0
        for i in list:
            if re.match(r'^#.*', i):
                continue
            if i == "":
                continue
            cnt += 1
        return cnt

In [ ]:
def solve(path):
    with open(path, "r") as file:
        cnt = 0
        for row in file:
            cnt +=1
            txt = row.strip()
            if txt == '' or txt[0] == '#':
                cnt -=1
           # print(row[0])
        return(cnt)

In [ ]:
u = open('G:\Film\test.txt','w')
u.write('Hi')

2

# CSV Files:

In [ ]:
import csv
with open('My_CSV.csv' , 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter= ',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'column Title are {"","sep=".join(row)}') # "" not ''
            line_count += 1
        else :
            print(f'\t{row[0]} worked in {row[1]} dep live in {row[2]} in city {row[3]}')
            line_count += 1
    print(f'{line_count} line process')

# JSON Files:

In [ ]:
import json
people_string = '''
{
    "people" : [
        {
            "name" : "Hamid Bagheri",
            "phone" : "0912..",
            "email" : ["h.bagheri58@gmail.com", "hamid58b@gmail.com"],
            "has Registered" : false
        },
        {
            "name" : "Baran Bagheri",
            "phone" : "0912",
            "email" : null,
            "has Registered" : true
        }
    ]
}
'''
data = json.loads(people_string)
print(data)
print(data['people'][1])
print(data.keys())
print(data.values())
print(type(data))
print(type(data['people'][0]))
print('-------------------')
for person in data['people']:
    print(person) # or del person['phone]
print('again convert to json:--------------------------------------------')
# again convert to json
new_string = json.dumps(data) # or ...(data, indent = 2)
print(type(new_string))
print(new_string)

# OS Library

In [ ]:
import os
os.mkdir('g:\\1-Ramin\\Programming\\1-Training\\My_Test_Files\\Quera_Python\\img') # create "img" folder:

In [1]:
import os
os.getcwd()
os.listdir()

['.config', 'sample_data']

In [2]:
os.system('date')

0

# This is a script! Why??

In [ ]:
import numpy as np

def f(x):
    """
    A quadratic function.
    """
    y = x**2 + 1.
    return y

print ("     x        f(x)")
for x in np.linspace(0,4,3):
    print ("%8.3f  %8.3f" % (x, f(x)))